<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SQL Playground</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/index.css">
        <script src="https://unpkg.com/htmx.org@1.9.8" integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="sum-wrapper">
            <div>
                <h4>Total Cities</h4>
                <p hx-get="/api/get-total-city" hx-trigger="revealed"></p>
            </div>

            <div>
                <h4>Total Population</h4>
                <p hx-get="/api/get-total-population" hx-trigger="revealed"></p>
            </div>

            <div>
                <h4>Total Countries</h4>
                <p hx-get="/api/get-total-country" hx-trigger="revealed"></p>
            </div>

            <div>
                <h4>Total District</h4>
                <p hx-get="/api/get-total-district" hx-trigger="revealed"></p>
            </div>
        </div>

        <div class="sum-wrapper">
            <div>
                <h4>Filter Data</h4>

                <div>
                    <input type="text" name="filter_id" value="" placeholder="ID" />
                    <input type="text" name="filter_name" value="" placeholder="Name" />
                    <input type="text" name="filter_countrycode" value="" placeholder="CountryCode" />
                    <input type="text" name="filter_district" value="" placeholder="District" />

                    <button id="filter-btn" type="submit">Filter</button>
                    <button id="clear-filter-btn" type="submit">Clear</button>
                </div>
            </div>
        </div>

        <main>
            <div>
                <h1>City of the World!</h1>
            </div>

            <table id="item-list">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CountryCode</th>
                    <th>District</th>
                    <th>Population</th>
                </tr>
                {{ range .Data }}
                <tr>
                    <td>{{ .ID }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .CountryCode }}</td>
                    <td>{{ .District }}</td>
                    <td>{{ .Population }}</td>
                </tr>
                {{ end }}
            </table>

            <!-- Load more button -->
            <button id="load-more-btn">
                Load More
            </button>
        </main>

        <script src="index.js"></script>
    </body>
</html>
