table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 4px 20px;
}

main {
    margin: 24px 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#load-more-btn {
    margin: 24px;
}

.sum-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background: #3d3d3d3d;
}
